.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 1rem;
}
.box img{
    width: 13rem;
}
.card{
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.box h2{
    text-align: center;
}
.main-container {
    position: relative;
    transition: filter 0.3s ease; 
    height: 100vh;
  }
  
  @media screen and (max-width: 900px) {
    .box{
        grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 550px) {
    .box{
        grid-template-columns: 1fr;
    }
  }